* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --fondo_nav: #27374D;
    --fondo_titulo: #526D82;
    --fondo_body: #9DB2BF;
    --fondo_cards: #DDE6ED;
    --font1: whitesmoke;
    /* --font2: */
}

body {
    background-color: var(--fondo_body);
    display: flex;
    flex-direction: column;

    font-family: "open sans";
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--fondo_nav);
    color: var(--font1);
    align-items: baseline;
}

.sin-config {
    all: unset;
    cursor: pointer;
}

.intro {
    display: flex;
    justify-content: space-around;
    background-color: var(--fondo_titulo);
    align-items: center;
    color: var(--font1);
}


.fotoS {
    background-color: var(--fondo_nav);
    height: 133px;
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    margin-top: 10px;

}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

.invisible {
    visibility: hidden;
    height: 133px;
    width: 100px;
}

/* Seccion de proyectos */
.cardContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardpro {
    height: 390px;
    width: 600px;
    background-color: var(--fondo_cards);
    border-radius: 10px;
    padding: 5px;

}

#cardVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;

}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    margin-top: 3px;

}

.imgpro1 {
    background-image: url("../assets/proyectos/App\ API\ MVC.png");
}

.video {
    height: 170px;
}

/* Seccion de conoceme */
.cardconoceme {
    height: 300px;
    width: 300px;
    background-color: var(--fondo_cards);
    border-radius: 10px;

}

li a {
    all: unset;
    cursor: pointer;
    padding: 10px;



}

li a:hover {
    color: var(--fondo_body);
}


p {
    text-align: justify;
}

h2 {
    text-align: center;
    background-color: var(--fondo_nav);
    color: var(--font1);
    padding-top: 5px;
    padding-bottom: 5px;
}

li {
    list-style-type: none;
    text-align: justify;
}

h3 {
    text-align: center;
    background-color: var(--fondo_titulo);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}